<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Old For Now - Bluegrass Band</title>
  <!-- Normalize.css from CDN -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-oHDEc8XJNuDl7ZD1CeFsd3xSy4UqLgU6yXRud6yX46HVDpU6iZJ0l+ydK+bxTmW0lB1sjTJ1yOZX+8DmuW3r/g==" crossorigin="anonymous" />
  <!-- Meta tags for social media sharing -->
  <meta name="description" content="PDX-based Old For Now: Breathing new life into bluegrass traditionals and crafting old time originals.">
  <meta property="og:title" content="Old For Now - Bluegrass Band">
  <meta property="og:description" content="PDX-based Old For Now: Breathing new life into bluegrass traditionals and crafting old time originals."">
  <!-- <meta property="og:image" content="URL-to-your-image"> -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://oldfornow.com">
  <link rel="stylesheet" href="css/main.css">
  <script src="js/main.js" defer></script>
</head>
<body>
  <header>
    <!-- Header content here -->
  </header>
  <main>
    {{ content }}
  </main>
  <footer>
    <p>&copy; {{ 'now' | date: "%Y" }} Old For Now - All Rights Reserved</p>
  </footer>
</body>
</html>
